<section data-aos="fade-up" class="about section" id="about">
  <div class="about_container container">
    <h2 class="title-h2">O nas</h2>
    <div class="about_inner">
      <div class="about_inner_left">
        <p class="about_inner_left_text">
          Agencja <b>NewBasicInfo</b> powstała z pasji do języków i
          międzykulturowej komunikacji. Od 2013 roku pomagamy firmom i osobom
          prywatnym przekraczać bariery językowe. Współpracujemy z zespołem
          ponad 200 doświadczonych tłumaczy i native speakerów z całego świata.
        </p>
        <p class="about_inner_left_text">
          Działamy kompleksowo – od tłumaczenia dokumentu, przez lokalizację
          stron, aż po obsługę językową wydarzeń na żywo
        </p>
      </div>
      <div class="about_inner_right">
        <img src="./img/about/about_background.png" alt="about" />
      </div>
    </div>
  </div>
</section>
