<section data-aos="fade-up" class="contacts section" id="contacts">
  <div class="contacts_container container">
    <h2 class="title-h2">Kontakt</h2>
    <div class="contacts_inner">
      <div class="contacts_inner_left">
        <div>
          <p class="contacts_inner_left_text">
            Chcesz poznać koszt tłumaczenia? Masz pytania?
          </p>
          <p class="contacts_inner_left_text">
            Skontaktuj się z nami – odpowiemy tego samego dnia!
          </p>
        </div>
        <div class="contacts_inner_left_text_flex">
          <h3 class="contacts_inner_left_text_title">NewBasicInfo</h3>
          <p class="contacts_inner_left_text">
            ul. Mikołaja Kopernika 8 <span>00-367 Warszawa, Polska</span>
          </p>
          <div class="contacts_inner_left_flex">
            <h3 class="contacts_inner_left_text_title">Telefon:</h3>
            <a href="tel:48512345678" class="contacts_inner_left_text"
              >+48 512 345 678</a
            >
          </div>
          <div class="contacts_inner_left_flex">
            <h3 class="contacts_inner_left_text_title">E-mail:</h3>
            <a
              href="mailto:info@newbasicinfo.com"
              class="contacts_inner_left_text"
              >info@newbasicinfo.com</a
            >
          </div>
          <div class="contacts_inner_left_flex">
            <h3 class="contacts_inner_left_text_title">Godziny pracy:</h3>
            <p class="contacts_inner_left_text">
              Poniedziałek – Piątek: 9:00 – 17:00
            </p>
          </div>
        </div>
      </div>
      <div class="contacts_inner_right">
        <form class="form">
          <p class="form_text">
            Lub wypełnij formularz, a my skontaktujemy się z Tobą
          </p>
          <label for="name" class="form_lable">
            <span class="form_text_lable">Imię i nazwisko</span>
            <input
              placeholder="Wpisz swoje imię i nazwisko"
              id="name"
              type="text"
              class="form_input"
              name="name"
            />
          </label>
          <label for="email" class="form_lable">
            <span class="form_text_lable">Adres e-mail</span>
            <input
              placeholder="Wpisz swój adres e-mail"
              id="email"
              type="email"
              class="form_input"
              name="email"
            />
          </label>
          <label for="tel" class="form_lable">
            <span class="form_text_lable">Telefon</span>
            <input
              placeholder="Wpisz swój telefon"
              id="tel"
              type="tel"
              class="form_input"
              name="tel"
            />
          </label>
          <label for="translate" class="form_lable">
            <span class="form_text_lable">Język źródłowy / docelowy</span>
            <input
              placeholder="Wpisz język źródłowy / docelowy"
              id="translate"
              type="text"
              class="form_input"
              name="translate"
            />
          </label>
          <div class="form_lable">
            <span class="form_text_lable">Załącz dokument</span>
            <div class="file_flex">
              <div class="file_flex_inner_text">
                <img
                  class="file_add"
                  src="./img/contacts/tach.png"
                  alt="file"
                />
                <label for="file" class="file_inner_text"
                  >+ Wybierz dokument do dołączenia
                </label>
              </div>
              <img
                class="form_basket"
                src="./img/contacts/basket.png"
                alt="basket"
              />
            </div>
            <input name="file" id="file" type="file" class="visually-hidden" />
          </div>
          <div class="form_lable_flex">
            <label for="accept" class="form_lable_flex_checkbox">
              <input
                id="accept"
                type="checkbox"
                name="accept"
                class="visually-hidden"
              />
            </label>
            <p class="form_text_lable_checkbox">
              Zgoda na przetwarzanie danych
            </p>
          </div>
          <button class="btn_form">Wysłać</button>
        </form>
      </div>
    </div>
  </div>
</section>
