<footer class="footer" id="footer">
  <div class="footer_container container">
    <div class="footer_inner">
      <div class="footer_inner_left">
        <h2 class="footer_title"><a href="./index.html">NewBasicInfo</a></h2>
        <p class="footer_text">
          ul. Mikołaja Kopernika 800-367 Warszawa, Polska
        </p>
        <a href="tel:48512345678" class="footer_text">+48 512 345 678</a>
      </div>
      <ul class="footer_inner_right">
        <li class="footer_inner_right_item">
          <a href="#about">O nas</a>
        </li>
        <li class="footer_inner_right_item">
          <a href="#services">Usługi</a>
        </li>
        <li class="footer_inner_right_item">
          <a href="#pricing">Cennik</a>
        </li>
        <li class="footer_inner_right_item">
          <a href="#contacts">Kontakt</a>
        </li>
      </ul>
    </div>
    <ul class="footer_list">
      <li class="footer_list_item">
        <a href="./privacy-policy.html">Polityka Prywatności</a>
      </li>
      <li class="footer_list_item">
        <a href="./terms-and-conditions.html">Warunki i postanowienia</a>
      </li>
      <li class="footer_list_item">
        <a href="./cookies-policy.html">Polityka plików cookie</a>
      </li>
    </ul>
    <p class="footer_copyright">
      © 2025 newbasicinfo.com – Wszelkie prawa zastrzeżone
    </p>
  </div>
</footer>
