<header class="header" id="header">
  <div class="header_container container">
    <a class="logo" href="./index.html">
      <img src="./img/Header/logo.png" alt="Logo" />
    </a>
    <h1 class="header_title"><a href="./index.html">NewBasicInfo</a></h1>
    <nav class="header-nav-pc">
      <ul class="header-nav-pc-list">
        <li class="header-nav-pc-item">
          <a href="#about">O nas</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#services">Usługi</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#pricing">Cennik</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#contacts">Kontakt</a>
        </li>
      </ul>
    </nav>
    <nav class="header-nav-mobile">
      <ul class="header-nav-mobile-list">
        <li class="header-nav-mobile-item">
          <a href="#about">O nas</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#services">Usługi</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#pricing">Cennik</a>
        </li>
        <li class="header-nav-mobile-item">
          <a href="#contacts">Kontakt</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header-nav-mobile-button">
      <img src="./img/Header/burger.png" alt="menu" />
    </button>
    <button type="button" class="header-nav-mobile-button-close">
      <img src="./img/Header/close_menu.png" alt="menu" />
    </button>
  </div>
</header>
