<section data-aos="fade-up" class="hero section">
  <div class="container hero_container">
    <div class="hero_content">
      <h2 class="hero_title">Łączymy światy poprzez słowa</h2>
      <p class="hero_text">
        Profesjonalne tłumaczenia na ponad 60 <br />
        języków – szybko, rzetelnie i <br />
        w przystępnej cenie.
      </p>
      <div class="swiper swiper-hero">
        <div class="swiper-wrapper swiper-wrapper-hero">
          <div class="swiper-slide swiper-slide-hero">
            <div class="hero_inner_cards_item">
              <p class="hero_inner_cards_item_number">60</p>
              <p class="hero_inner_cards_item_text">
                tłumaczymy na ponad 60 języków
              </p>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-hero">
            <div class="hero_inner_cards_item">
              <p class="hero_inner_cards_item_number">24</p>
              <p class="hero_inner_cards_item_text">
                możliwe tłumaczenie w ciągu 24 godzin
              </p>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-hero">
            <div class="hero_inner_cards_item">
              <p class="hero_inner_cards_item_number">1200</p>
              <p class="hero_inner_cards_item_text">
                klientów biznesowych zaufało nam
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="hero_inner_btn">
        <button class="hero_inner_btn_item">Poproś o darmową wycenę</button>
        <button class="hero_inner_btn_item">Poznaj nasze usługi</button>
      </div>
    </div>
    <div class="hero_inner_cards">
      <div class="hero_inner_cards_item">
        <p class="hero_inner_cards_item_number">60</p>
        <p class="hero_inner_cards_item_text">tłumaczymy na ponad 60 języków</p>
      </div>
      <div class="hero_inner_cards_item">
        <p class="hero_inner_cards_item_number">24</p>
        <p class="hero_inner_cards_item_text">
          możliwe tłumaczenie w ciągu 24 godzin
        </p>
      </div>
      <div class="hero_inner_cards_item">
        <p class="hero_inner_cards_item_number">1200</p>
        <p class="hero_inner_cards_item_text">
          klientów biznesowych zaufało nam
        </p>
      </div>
    </div>
  </div>
</section>
