<section data-aos="fade-up" class="pricing section" id="pricing">
  <div class="pricing_container container">
    <h2 class="title-h2">Cennik</h2>
    <div class="pricing_inner">
      <div class="pricing_inner_item">
        <p class="pricing_inner_item_text">Tłumaczenie ogólne</p>
        <p class="pricing_inner_item_pricing">
          <b class="pricing_inner_item_pricing_bold">35 zł</b>/ 1800 znaków
        </p>
      </div>
      <div class="pricing_inner_item">
        <p class="pricing_inner_item_text">Tłumaczenie przysięgłe</p>
        <p class="pricing_inner_item_pricing">
          <b class="pricing_inner_item_pricing_bold">55 zł </b>/ strona urzędowa
        </p>
      </div>
      <div class="pricing_inner_item">
        <p class="pricing_inner_item_text">Tłumaczenie techniczne</p>
        <p class="pricing_inner_item_pricing">
          <b class="pricing_inner_item_pricing_bold">50 zł </b>/ 1800 znaków
        </p>
      </div>
      <div class="pricing_inner_item">
        <p class="pricing_inner_item_text">Tłumaczenie ustne</p>
        <p class="pricing_inner_item_pricing">
          <b class="pricing_inner_item_pricing_bold">150 zł </b>/ godzina
        </p>
      </div>
      <div class="pricing_inner_item">
        <p class="pricing_inner_item_text">Lokalizacja strony</p>
        <p class="pricing_inner_item_pricing">
          <b class="pricing_inner_item_pricing_bold">indywidualna wycena</b>
        </p>
      </div>
      <div class="pricing_inner_item">
        <p class="pricing_inner_item_text">Korekta tekstu</p>
        <p class="pricing_inner_item_pricing">
          <b class="pricing_inner_item_pricing_bold">25 zł </b>
          / 1800 znaków
        </p>
      </div>
    </div>
  </div>
</section>
