<section data-aos="fade-up" class="services section" id="services">
  <div class="services_container container">
    <h2 class="title-h2">Usługi</h2>
    <div class="swiper swiper-services">
      <div class="swiper-wrapper swiper-wrapper-services">
        <div class="swiper-slide swiper-slide-services">
          <article class="services_article">
            <h3 class="services_article_title">Tłumaczenia pisemne</h3>
            <p class="services_article_text">
              Ogólne, biznesowe, specjalistyczne (medyczne, techniczne,
              prawnicze, finansowe)
            </p>
            <p class="services_article_price">
              od <b>35 zł</b>/1800 znaków ze spacjami
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-services">
          <article class="services_article">
            <h3 class="services_article_title">Tłumaczenia przysięgłe</h3>
            <p class="services_article_text">
              Uprawnieni tłumacze z listy Ministerstwa Sprawiedliwości
              <span
                >Akt stanu cywilnego, świadectwa, umowy, dokumenty sądowe</span
              >
            </p>
            <p class="services_article_price">
              od <b>55 zł</b>/strona urzędowa
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-services">
          <article class="services_article">
            <h3 class="services_article_title">Tłumaczenia ustne</h3>
            <p class="services_article_text">
              Konsekutywne i symultaniczne
              <span>Obsługa konferencji, szkoleń, spotkań biznesowych</span>
            </p>
            <p class="services_article_price">od <b>150 zł</b>/godzina</p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-services">
          <article class="services_article">
            <h3 class="services_article_title">Lokalizacja</h3>
            <p class="services_article_text">
              Strony internetowe, e-commerce, aplikacje, gry
            </p>
            <p class="services_article_text services_article_text_bottom">
              Dostosowanie do kultury i języka lokalnego
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-services">
          <article class="services_article">
            <h3 class="services_article_title">Korekta/redakcja</h3>
            <p class="services_article_text">
              Native speakerzy języka docelowego
            </p>
            <p class="services_article_text services_article_text_bottom">
              Korekta stylistyczna i gramatyczna
            </p>
          </article>
        </div>
        <div class="swiper-slide swiper-slide-services">
          <article class="services_article">
            <h3 class="services_article_title">Konsultacje językowe</h3>
            <p class="services_article_text">
              Audyt komunikacji językowej firm
            </p>
            <p class="services_article_text services_article_text_bottom">
              Tworzenie stylu komunikacji marki
            </p>
          </article>
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination_services"></div>
    <div class="services_article_inner">
      <article class="services_article">
        <h3 class="services_article_title">Tłumaczenia pisemne</h3>
        <p class="services_article_text">
          Ogólne, biznesowe, specjalistyczne (medyczne, techniczne, prawnicze,
          finansowe)
        </p>
        <p class="services_article_price">
          od <b>35 zł</b>/1800 znaków ze spacjami
        </p>
      </article>
      <article class="services_article">
        <h3 class="services_article_title">Tłumaczenia przysięgłe</h3>
        <p class="services_article_text">
          Uprawnieni tłumacze z listy Ministerstwa Sprawiedliwości
          <span>Akt stanu cywilnego, świadectwa, umowy, dokumenty sądowe</span>
        </p>
        <p class="services_article_price">od <b>55 zł</b>/strona urzędowa</p>
      </article>
      <article class="services_article">
        <h3 class="services_article_title">Tłumaczenia ustne</h3>
        <p class="services_article_text">
          Konsekutywne i symultaniczne
          <span>Obsługa konferencji, szkoleń, spotkań biznesowych</span>
        </p>
        <p class="services_article_price">od <b>150 zł</b>/godzina</p>
      </article>
      <article class="services_article services_article_small">
        <h3 class="services_article_title">Lokalizacja</h3>
        <p class="services_article_text">
          Strony internetowe, e-commerce, aplikacje, gry
        </p>
        <p class="services_article_text services_article_text_bottom">
          Dostosowanie do kultury i języka lokalnego
        </p>
      </article>
      <article class="services_article services_article_small">
        <h3 class="services_article_title">Korekta/redakcja</h3>
        <p class="services_article_text">Native speakerzy języka docelowego</p>
        <p class="services_article_text services_article_text_bottom">
          Korekta stylistyczna i gramatyczna
        </p>
      </article>
      <article class="services_article services_article_small">
        <h3 class="services_article_title">Konsultacje językowe</h3>
        <p class="services_article_text">Audyt komunikacji językowej firm</p>
        <p class="services_article_text services_article_text_bottom">
          Tworzenie stylu komunikacji marki
        </p>
      </article>
    </div>
    <button class="services_btn">Poproś o darmową wycenę</button>
  </div>
</section>
