.about {
  scroll-margin-top: 100px;
}
.about_inner {
  display: flex;
  align-items: center;
  gap: 24px;
  @media screen and (max-width: 1440px) {
    flex-direction: column;
    gap: 16px;
  }
}
.about_inner_left {
  order: 2;
  @media screen and (min-width: 1440px) {
    order: 1;
  }
}
.about_inner_left_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--body);
  max-width: 636px;
  width: 100%;
  display: block;
  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}
.about_inner_left_text b {
  font-weight: 600;
  color: #6a46e5;
}
.about_inner_right {
  order: 1;
  @media screen and (min-width: 1440px) {
    order: 2;
  }
}
.about_inner_right > img {
  border-radius: 237px;
  height: 283px;
  transform: scale(1.3) translateY(-0px);
  @media screen and (min-width: 1440px) {
    height: auto;
    width: 100%;
    transform: scale(1.3) translateX(30px);
    height: 524px;
  }
}
