.contacts {
  scroll-margin-top: 100px;
}
.contacts_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  @media screen and (min-width: 1440px) {
    flex-direction: row;
    align-items: start;
    justify-content: center;
  }
}
.contacts_inner_left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media screen and (min-width: 1440px) {
    gap: 40px;
  }
}
.contacts_inner_left_text {
  display: block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--body);
  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}
.contacts_inner_left_text span {
  display: block;
}
.contacts_inner_left_text_title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #6a46e5;
  white-space: nowrap;
  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}
.contacts_inner_left_text_flex {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @media screen and (min-width: 1440px) {
    gap: 16px;
  }
}
.contacts_inner_left_flex {
  display: flex;
  gap: 8px;
}
/* form */
.form {
  background: #ddecfc;
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  @media screen and (min-width: 1440px) {
    padding: 24px;
    gap: 24px;
    width: 636px;
  }
}
.form_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  color: #0e315d;
  @media screen and (min-width: 1440px) {
    font-size: 24px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
}
.form_lable {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @media screen and (min-width: 1440px) {
    gap: 12px;
  }
}
.form_text_lable {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #0e315d;
  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}
.form_input {
  padding: 10px;
  background: #fff;
  border-radius: 12px;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #0e315d;
  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}
.form_input::placeholder {
  color: #bfd9fe;
}
.file_inner_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #2f74e1;
  display: block;
  padding: 0;
  cursor: pointer;
  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}
.file_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.file_flex_inner_text {
  display: flex;
  align-items: center;
  padding: 10px;
}
.file_add {
  display: none;
  width: 20px;
  height: 20px;
}
.file_add.active {
  display: block;
}
.form_basket {
  cursor: pointer;
  width: 16px;
  height: 18px;
  display: none;
}
.form_basket.active {
  display: block;
}
.form_lable_flex {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 13px 0;
  @media screen and (min-width: 1440px) {
    padding: 0;
  }
}
.form_lable_flex_checkbox {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(26, 26, 26, 0.08),
    0 0px 0 0 rgba(26, 26, 26, 0.08);
  border: 2px solid #e1e1e2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.form_lable_flex_checkbox.active::after {
  content: '';
  padding: 0px;
  margin-left: 1px;
  width: 0;
  background: #6a46e5;
  border-radius: 5px;
  min-width: 15px;
  height: 15px;
  max-height: 15px;
}
.form_text_lable_checkbox {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #0e315d;
  @media screen and (min-width: 1440px) {
    font-size: 18px;
  }
}
.btn_form {
  width: 100%;
  background: #6a46e5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: var(--body-light);
  padding: 12px 0;
  transition: background-color 0.3s ease;
}
.btn_form:hover {
  cursor: pointer;
  background-color: #937ae9;
}
